@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Age Cyrillic";
  src: url("../fonts/SpaceAge/SpaceAgeCyrillic-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Moutserrat", sans-serif;
  font-size: 14px;
  background-color: #f9fafe;
}

a {
  font-weight: 600;
  font-size: 28px;
  line-height: 86%;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Age Cyrillic", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fcfcfc;
  z-index: 1;
  opacity: 1;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  z-index: 2;
  opacity: 1;
}
.header .container {
  max-width: 96%;
  margin-inline: auto;
}
.header .container .header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header .container .header_body .header_logo {
  flex-basis: 20%;
  z-index: 3;
}
.header .container .header_body .header_logo .header_logo_link {
  width: 100%;
  height: auto;
}
.header .container .header_body .header_logo .header_logo_link .header_logo_pic {
  display: block;
  width: 100%;
  height: auto;
}
.header .container .header_body .header_burger {
  display: none;
}
.header .container .header_body .header_nav {
  flex-basis: 20%;
}
.header .container .header_body .header_nav .header_list {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .header_body .header_nav .header_list .header_item {
  list-style: none;
  width: 100%;
  height: auto;
  white-space: nowrap;
}
.header .container .header_body .header_nav .header_list .header_item .header_link {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  width: 100%;
  font-size: 100%;
  margin-inline: auto;
}
.header .container .header_body .header_nav .header_list .header_item .header_link .header_pic {
  display: block;
  width: 20px;
  height: auto;
}
.header .container .header_body .header_nav .header_list .header_item .header_link .header_hide {
  display: none;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header .container .header_body {
    height: 50px;
  }
  .header .container .header_body .header_logo {
    flex-basis: 40%;
  }
  .header .container .header_body .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header .container .header_body .header_nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9fafe;
    padding: 60px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }
  .header .container .header_body .header_nav.active {
    top: 0;
  }
  .header .container .header_body .header_nav .header_list {
    display: block;
  }
  .header .container .header_body .header_nav .header_list .header_item {
    border-collapse: collapse;
    border-bottom: 1px solid #d2d2d2;
    padding: 10px 0px 10px 20px;
    margin: 0px 0px 0px 0px;
  }
  .header .container .header_body .header_nav .header_list .header_item .header_link .header_pic {
    margin-right: 10px;
  }
  .header .container .header_body .header_nav .header_list .header_item .header_link .header_hide {
    display: block;
  }
}
.main {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 80px;
  background-color: #fcfcfc;
  z-index: 0;
}
.main .container {
  max-width: 100%;
  margin-inline: auto;
}
.main .container .findWatch {
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  height: auto;
  background-color: #f4f4f4;
}
.main .container .findWatch .findWatch_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
}
.main .container .findWatch .findWatch_item:first-child {
  margin-left: 20px;
  width: 40%;
  float: left;
  z-index: 4;
}
.main .container .findWatch .findWatch_item:last-child {
  width: 60%;
  float: right;
  z-index: 4;
}
.main .container .findWatch .findWatch_item .findWatch_title {
  font-size: 5vh;
  margin-bottom: 20px;
}
.main .container .findWatch .findWatch_item .findWatch_ref {
  display: block;
  background-color: #735cff;
  color: #ffffff;
  padding: 20px 10px 20px 10px;
  border-radius: 5px;
  font-size: 2vh;
}
.main .container .findWatch .findWatch_item .findWatch_image {
  transform: scale(1.1);
}
.main .container .features {
  max-width: 96%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.main .container .features .features_item {
  display: flex;
  justify-content: center;
}
.main .container .features .features_item .features_title {
  font-size: 5vh;
}
.main .container .features .features_item .features_body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.main .container .features .features_item .features_body .features_body_item {
  flex-basis: 33%;
  align-items: center;
  align-content: center;
}
.main .container .features .features_item .features_body .features_body_item .features_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}
.main .container .features .features_item .features_body .features_body_item .features_block .features_block_item .features_title {
  font-size: 3vh;
}
.main .container .features .features_item .features_body .features_body_item .features_block .features_block_item .features_paragraph {
  font-size: 2vh;
  color: #939393;
  line-height: 14px;
}
.main .container .features .features_item .features_body .features_body_item .features_title {
  font-size: 3vh;
}
.main .container .features .features_item .features_body .features_body_item .features_paragraph {
  font-size: 2vh;
  color: #939393;
  line-height: 20px;
}
.main .container .features .features_item .features_body .features_body_item .features_image {
  transform: scale(1.2);
  width: 100%;
  min-width: 200px;
}
.main .container .mission {
  display: flex;
  background-color: black;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 30px;
}
.main .container .mission .mission_item {
  flex-basis: 40%;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.main .container .mission .mission_item:last-child {
  margin-right: 50px;
}
.main .container .mission .mission_item .mission_image {
  transform: scale(1);
  height: 100%;
}
.main .container .mission .mission_item .mission_title {
  font-size: 6vh;
  color: #ececec;
}
.main .container .mission .mission_item .mission_paragraph {
  display: block;
  margin-top: 40px;
  color: #ffffff;
  line-height: 18px;
  width: 80%;
}
.main .container .mission .mission_item .mission_ref {
  margin-top: 20px;
  display: inline-block;
  background-color: #735cff;
  color: #ffffff;
  padding: 20px 10px 20px 10px;
  border-radius: 5px;
  font-size: 2vh;
}
.main .container .watches {
  background-color: #f4f4f4;
}
.main .container .watches .container {
  max-width: 96%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 30px;
  flex-direction: column;
}
.main .container .watches .container .watches_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .container .watches .container .watches_item .watches_block {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}
.main .container .watches .container .watches_item .watches_block .watches_title {
  font-size: 4vh;
  margin-bottom: 10px;
}
.main .container .watches .container .watches_item .watches_block .watches_paragraph {
  color: #939393;
  font-size: 2vh;
  line-height: 15px;
}
.main .container .watches .container .watches_item .watches_slider .swiper {
  width: 100%;
  height: 100%;
}
.main .container .watches .container .watches_item .watches_slider .swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 300px;
}
.main .container .watches .container .watches_item .watches_slider .swiper .swiper-slide .image {
  transform: scale(1);
  border-radius: 5px;
}
.main .container .aboutUs {
  padding-top: 100px;
  background-color: #f4f4f4;
  padding-bottom: 50px;
}
.main .container .aboutUs .container {
  max-width: 96%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  padding-top: 30px;
  flex-direction: row;
}
.main .container .aboutUs .container .aboutUs_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main .container .aboutUs .container .aboutUs_item:first-child {
  flex-basis: 30%;
}
.main .container .aboutUs .container .aboutUs_item:last-child {
  flex-basis: 50%;
}
.main .container .aboutUs .container .aboutUs_item .aboutUs_title {
  font-size: 4vh;
  white-space: nowrap;
  margin-bottom: 10px;
}
.main .container .aboutUs .container .aboutUs_item .aboutUs_paragraph {
  font-size: 2vh;
  color: #939393;
  line-height: 15px;
}
.main .container .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #735cff;
  min-height: 500px;
}
.main .container .login .login_back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-width: 60%;
  min-height: 500px;
  margin: 60px 0px 60px 0px;
  border-radius: 5px;
  padding: 40px;
}
.main .container .login .login_back .login_switch {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main .container .login .login_back .login_switch .switch_button {
  flex-basis: 50%;
  padding: 5px 10px 5px 10px;
  font-size: 2vh;
  white-space: nowrap;
  color: #dedede;
  border-bottom: 1px solid #dedede;
}
.main .container .login .login_back .login_switch .switch_button.active {
  border-bottom: 4px solid #735cff;
  color: black;
}
.main .container .login .login_back .login_title {
  font-size: 6vh;
  margin-bottom: 75px;
  margin-top: 20px;
  white-space: nowrap;
}
.main .container .login .login_back .login_form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .container .login .login_back .login_form .login_input {
  width: 90%;
  padding: 20px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #dedede;
  color: black;
  animation-name: show;
  animation-duration: 1s;
}
.main .container .login .login_back .login_form .login_button {
  margin-top: 50px;
  font-size: 2vh;
  background-color: #735cff;
  color: #ffffff;
  padding: 15px 50px 15px 50px;
  border-radius: 5px;
  animation-name: show;
  animation-duration: 1s;
}
.main .container .basket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #735cff;
  min-height: 500px;
}
.main .container .basket .basket_back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-width: 60%;
  max-width: 90%;
  min-height: 500px;
  margin: 60px 0px 60px 0px;
  border-radius: 5px;
  padding: 40px;
}
.main .container .basket .basket_back .basket_title {
  font-size: 6vh;
  margin-bottom: 75px;
  margin-top: 20px;
  white-space: wrap;
}
.main .container .basket .basket_back .basket_title:last-child {
  font-size: 2vh;
  color: red;
}
.main .container .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #735cff;
  min-height: 500px;
}
.main .container .about .about_back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  min-width: 60%;
  max-width: 60%;
  min-height: 500px;
  margin: 60px 0px 60px 0px;
  border-radius: 5px;
  padding: 40px;
}
.main .container .about .about_back .about_title {
  font-size: 6vh;
  margin-bottom: 20px;
}
.main .container .about .about_back .about_body .about_paragraph {
  color: #7d7d7d;
  font-size: 2.5vh;
  line-height: 15px;
  margin-bottom: 10px;
}
.main .container .catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .container .catalog .catalog_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main .container .catalog .catalog_item .catalog_head {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  width: 100%;
  background-color: #735cff;
  min-height: 200px;
  align-items: flex-start;
  justify-content: center;
}
.main .container .catalog .catalog_item .catalog_head .catalog_title {
  font-size: 6vh;
  color: #fcfcfc;
  margin-bottom: 1.6%;
}
.main .container .catalog .catalog_item .catalog_head .catalog_paragraph {
  color: #fcfcfc;
}
.main .container .catalog .catalog_item .catalog_select {
  margin: 30px 0;
  background-color: #eeeff2;
  color: #939393;
  padding: 15px;
  border-radius: 5px;
  border: none;
}
.main .container .catalog .catalog_item .catalog_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 70%;
}
.main .container .catalog .catalog_item .catalog_list .catalog_list_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.main .container .catalog .catalog_item .catalog_list .catalog_list_item .catalog_image {
  border-radius: 5px;
}
.main .container .catalog .catalog_item .catalog_pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main .container .catalog .catalog_item .catalog_pagination .catalog_block .catalog_button {
  padding: 10px;
  font-size: 2vh;
  white-space: nowrap;
  color: #dedede;
  border-radius: 5px;
  background-color: #eeeff2;
}
.main .container .catalog .catalog_item .catalog_pagination .catalog_block .catalog_button.active {
  color: #fcfcfc;
  background-color: #735cff;
}

@media (max-width: 767px) {
  .main {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 50px;
    background-color: #fcfcfc;
    z-index: 0;
  }
  .main .container {
    max-width: 100%;
    margin-inline: auto;
  }
  .main .container .findWatch {
    display: flex;
    position: relative;
    align-items: center;
    height: auto;
  }
  .main .container .findWatch .findWatch_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .main .container .findWatch .findWatch_item:first-child {
    width: 40%;
    float: left;
    z-index: 4;
  }
  .main .container .findWatch .findWatch_item:last-child {
    width: 60%;
    float: right;
    z-index: 4;
  }
  .main .container .findWatch .findWatch_item .findWatch_title {
    font-size: 3vh;
  }
  .main .container .findWatch .findWatch_item .findWatch_ref {
    display: block;
    background-color: #735cff;
    color: #ffffff;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
    font-size: 2vh;
  }
  .main .container .features {
    max-width: 96%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
  }
  .main .container .features .features_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .container .features .features_item .features_title {
    font-size: 4vh;
    justify-self: center;
  }
  .main .container .features .features_item .features_body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 96%;
  }
  .main .container .features .features_item .features_body .features_body_item {
    flex-basis: 49%;
    align-items: center;
    align-content: center;
  }
  .main .container .features .features_item .features_body .features_body_item:first-child {
    display: none;
  }
  .main .container .features .features_item .features_body .features_body_item .features_title {
    font-size: 3vh;
  }
  .main .container .features .features_item .features_body .features_body_item .features_paragraph {
    font-size: 2vh;
    color: #939393;
    line-height: 14px;
  }
  .main .container .features .features_item .features_body .features_body_item .features_image {
    transform: scale(1.2);
    width: 100%;
    min-width: 200px;
  }
  .main .container .mission {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .main .container .mission .mission_item {
    flex-basis: 40%;
  }
  .main .container .mission .mission_item:last-child {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }
  .main .container .mission .mission_item .mission_image {
    transform: scale(1);
    height: 100%;
  }
  .main .container .mission .mission_item .mission_title {
    font-size: 5vh;
    color: #ececec;
  }
  .main .container .mission .mission_item .mission_paragraph {
    display: block;
    margin-top: 40px;
    color: #ffffff;
    line-height: 18px;
    width: 80%;
  }
  .main .container .mission .mission_item .mission_ref {
    margin-top: 20px;
    display: inline-block;
    background-color: #735cff;
    color: #ffffff;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
    font-size: 2vh;
  }
  .main .container .watches {
    background-color: #f4f4f4;
  }
  .main .container .watches .container {
    max-width: 96%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 30px;
    flex-direction: column;
  }
  .main .container .watches .container .watches_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main .container .watches .container .watches_item .watches_block {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
  }
  .main .container .watches .container .watches_item .watches_block .watches_title {
    font-size: 3vh;
  }
  .main .container .watches .container .watches_item .watches_block .watches_paragraph {
    color: #939393;
    font-size: 1.5vh;
    line-height: 15px;
  }
  .main .container .watches .container .watches_item .watches_slider .swiper {
    width: 100%;
    height: 100%;
  }
  .main .container .watches .container .watches_item .watches_slider .swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 300px;
  }
  .main .container .watches .container .watches_item .watches_slider .swiper .swiper-slide .image {
    transform: scale(1);
    border-radius: 5px;
  }
  .main .container .watches .container .watches_item .watches_slider .swiper .swiper-slide .title {
    font-size: 2vh;
  }
  .main .container .aboutUs {
    padding-top: 100px;
    background-color: #f4f4f4;
    padding-bottom: 50px;
  }
  .main .container .aboutUs .container {
    max-width: 96%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    padding-top: 30px;
    flex-direction: row;
  }
  .main .container .aboutUs .container .aboutUs_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .main .container .aboutUs .container .aboutUs_item:first-child {
    flex-basis: 30%;
  }
  .main .container .aboutUs .container .aboutUs_item:last-child {
    flex-basis: 50%;
  }
  .main .container .aboutUs .container .aboutUs_item .aboutUs_title {
    font-size: 3vh;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  .main .container .aboutUs .container .aboutUs_item .aboutUs_paragraph {
    font-size: 1.5vh;
    color: #939393;
    line-height: 15px;
  }
  .main .container .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #735cff;
    min-height: 500px;
  }
  .main .container .login .login_back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    min-width: 60%;
    min-height: 500px;
    margin: 60px 0px 60px 0px;
    border-radius: 5px;
    padding: 40px;
  }
  .main .container .login .login_back .login_switch {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main .container .login .login_back .login_switch .switch_button {
    flex-basis: 50%;
    padding: 5px 10px 5px 10px;
    font-size: 2vh;
    white-space: nowrap;
    color: #dedede;
    border-bottom: 1px solid #dedede;
  }
  .main .container .login .login_back .login_switch .switch_button.active {
    border-bottom: 4px solid #735cff;
    color: black;
  }
  .main .container .login .login_back .login_title {
    font-size: 4vh;
    margin-bottom: 75px;
    margin-top: 20px;
    white-space: nowrap;
  }
  .main .container .login .login_back .login_form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .container .login .login_back .login_form .login_input {
    width: 90%;
    padding: 20px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #dedede;
    color: black;
    animation-name: show;
    animation-duration: 1s;
  }
  .main .container .login .login_back .login_form .login_button {
    margin-top: 50px;
    font-size: 2vh;
    background-color: #735cff;
    color: #ffffff;
    padding: 15px 50px 15px 50px;
    border-radius: 5px;
    animation-name: show;
    animation-duration: 1s;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.footer .footer_item {
  display: flex;
  justify-content: center;
}
.footer .footer_item:first-child {
  width: 50%;
  padding: 30px;
}
.footer .footer_item:last-child {
  width: 100%;
  padding: 10px;
  background-color: #f4f4f4;
}
@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .footer .footer_item {
    display: flex;
    justify-content: center;
  }
  .footer .footer_item:first-child {
    width: 50%;
    padding: 30px;
  }
  .footer .footer_item:last-child {
    width: 100%;
    padding: 10px;
    background-color: #f4f4f4;
  }
  .footer .footer_item .footer_title {
    font-size: 1.5vh;
  }
}/*# sourceMappingURL=style.css.map */